<header class="page-header">
  <div class="container header-container">
    <a class="logo" href="./index.html"
      ><img src="./img/vector.png" alt="logo" width="66" height="52"
    /></a>
    <nav class="navigation">
      <ul class="navigation-list">
        <li><a class="navigation-link" href="./index.html">Home</a></li>
        <li><a class="navigation-link" href="#about">About</a></li>
        <li><a class="navigation-link" href="">Service</a></li>
        <li><a class="navigation-link" href="">Menu</a></li>
        <li><a class="navigation-link" href="">Contact</a></li>
      </ul>
    </nav>
    <button class="header-btn main-btn" type="button">Order Now</button>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="28" height="28">
        <use href="./images/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
